<h1>All your tasks</h1>
<table>
  <tr>
    <th>Status</th>
    <th>Task</th>
    <th>Edit</th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td>
        <form method="POST" action="/tasks/<%= task.id %>/toggle_complete">
          <input type="hidden" name="_method" value="PUT">
          <input type="submit" value="<%= task.completed ? "☑" : "☐" %>">
        </form>
      </td>
      <td><%= task.description %></td>
      <td><a href="/tasks/<%= task.id %>/edit">Edit description</a></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="3"><a href="/tasks/new">Add a new task</a></td>
  </tr>
</table>
