<h1>Sign up here</h1>
<% if @errors %>
  <ul>
  <% @errors.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>
<form action="/users" method="POST">
  <div>
    <input type="text" name="user[username]" placeholder="Username">
  </div>
  <div>
    <input type="text" name="user[first_name]" placeholder="First Name">
  </div>
  <div>
    <input type="text" name="user[last_name]" placeholder="Last Name">
  </div>
  <div>
    <input type="password" name="user[password]" placeholder="Password">
  </div>
  <div>
    <input type="submit" value="Register">
  </div>
</form>